<footer class="container border-top">
    <div class="mt-5 mb-5">
        <p class="float-right"><a href="#">Back to top</a></p>
        <p>BlogBytes © <%= currYear %></p>
    </div>
</footer>
</html>
