<%- include("partials/header.ejs") %>
<body>
    <section class="jumbotron text-center">
        <div class="container">
          <h1 class="jumbotron-heading">BlogBytes</h1>
          <p class="lead text-muted">BlogBytes: Your Space, Your Stories - Share Experiences, Goals, Achievements, and More, Because Everyone's Narrative Matters<br/> Click on the button below to get started!</p>
          <p>
            <a href="/create" class="btn btn-lg btn-outline-dark my-2">Create a blog</a>
          </p>
        </div>
      </section>
<%- include("blogs.ejs") %>
<%- include("partials/footer.ejs") %>